body {
    margin: 0;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}

.note {
    font-size: 0.8rem;
    color: #555;
    margin-bottom: 7px;
}

.header {
    text-align: right;
    padding: 15px;
}
.header a {
    color: #999;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    transition: 0.15s;
}
.header a:hover {
    color: #333;
}

.heading {
    margin: 50px 0;
}

.container {
    width: 1100px;
    margin: auto auto;
}
.grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 400px 1fr;
}
canvas {
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
    touch-action: none;
    cursor: grab;

    /* Checkered background for transparency */
    background-image: linear-gradient(45deg, #eee 25%, transparent 25%), linear-gradient(-45deg, #eee 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #eee 75%), linear-gradient(-45deg, transparent 75%, #eee 75%);
    background-size: 40px 40px;
    background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
}
@media only screen and (max-width: 1100px) {
    .container {
        width: calc(100% - 30px);
        margin: 0 15px;
    }
    .grid {
        grid-template-columns: 300px 1fr;
    }
    canvas {
        width: 300px;
        height: 300px;
    }
}
@media only screen and (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
    }
    canvas {
        width: calc(100vw - 30px);
        height: calc(100vw - 30px);
    }
}

.group {
    margin-bottom: 30px;
}
.group > label {
    display: block;
    margin-bottom: 5px;
}
.group > input {
    width: 100%;
}

.slidecontainer {
    width: 100%;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #FF6F00;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #FF6F00;
    cursor: pointer;
}

.upload-btn-wrapper, .flip-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 10px 0;
}
.flip-btn-wrapper > span {
    font-size: 0.8rem;
}
.flip-btn-wrapper > button {
    border: 0;
    outline: 0;
    cursor: pointer;
}
.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.btn.dragging {
    background-color: grey;
    color: white;
}
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.button {
    color: white;
    background: #212121;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 20px;
    transform: translateY(2px);
    font-size: 1rem;
    outline: 0;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    border: 0;
}
.button:hover {
    background: #424242;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.button-light {
    color: #333;
    background: #eee;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 15px;
    display: inline-block;
}

.small-container {
    width: 800px;
    margin: 50px auto;
    margin-top: 80px;
}
@media only screen and (max-width: 830px) {
    .small-container {
        width: calc(100% - 30px);
        margin: 50px 15px;
    }
}

.contributor {
    display: flex;
    margin: 15px 0;
}
.contributor > div:nth-child(1) {
    font-weight: bold;
    margin-right: 15px;
}
.contributor a {
    color: #333;
}

.footer {
    margin: 60px 0;
    text-align: center;
    color: #333;
}
.footer > span {
    color: #F50057;
    font-weight: bold;
    font-style: italic;
}
.footer > a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}
.footer > div {
    margin-top: 10px;
}
.footer > div > a {
    color: #777;
    text-decoration: none;
    margin: 0 3px;
}
