body {
    margin: 0;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}

.container {
    width: 1100px;
    margin: auto auto;
}
.grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 400px 1fr;
}
canvas {
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
}

.group {
    margin-bottom: 30px;
}
.group > label {
    display: block;
    margin-bottom: 5px;
}
.group > input {
    width: 100%;
}

.slidecontainer {
    width: 100%;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #FF6F00;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #FF6F00;
    cursor: pointer;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.button {

}
